---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import Script from "@/components/Script.astro";
import {
	getFilteredPosts,
	getLastPostDate,
	getPostsTags,
} from "@/lib/post.queries";
import { CardIntro, CardLink, CardNote, CardTool } from "@/components/Cards";

const { searchParams } = Astro.url;
const filterParam = searchParams.get("category") || "all";
const searchParam = searchParams.get("q") || "";

const posts = await getFilteredPosts(filterParam, searchParam);
const tags = await getPostsTags();
const lastDate = await getLastPostDate();

Astro.response.headers.set(
	"Cache-Control",
	"public, max-age=60, s-maxage=600, stale-while-revalidate=30",
);
---

<Layout title="andre_OS">
	<div class="min-h-screen relative">
		<Header searchParam={searchParam} filterParam={filterParam} />

		<div
			class="pt-20 px-4 md:px-6 max-w-[1600px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-8 transition-all"
		>
			<Sidebar
				tagCounts={tags}
				currentFilter={filterParam}
				currentSearch={searchParam}
			/>

			<main class={`flex lg:col-span-10`}>
				<div
					class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-min w-full"
				>
					{
						posts && posts.length > 0 ? (
							posts.map((item) => (
								// O Link envolve o card inteiro. Ao clicar, a URL muda para ?id=X
								<a
									href={`/post/${item.slug}`}
									class={`block group h-full relative ${item.featured ? "md:col-span-2" : "col-span-1"} outline-none focus-visible:ring-2 ring-emerald-500/50 rounded-md`}
								>
									{item.type === "intro" && (
										<CardIntro post={item} />
									)}
									{item.type === "note" && (
										<CardNote post={item} />
									)}
									{item.type === "tool" && (
										<CardTool post={item} />
									)}
									{item.type === "link" && (
										<CardLink post={item} />
									)}
								</a>
							))
						) : (
							<div class="col-span-full py-20 text-center border border-dashed border-zinc-800 rounded-lg ">
								{searchParam ? (
									<>
										<p class="text-zinc-500 text-lg">
											Nenhum resultado encontrado para
											{`"${searchParam}"`}.
										</p>
										<a
											href="/"
											class="mt-4 inline-block text-emerald-500 hover:underline"
										>
											Limpar filtros
										</a>
									</>
								) : (
									<div class="col-span-full py-20 text-center border border-dashed border-zinc-800 rounded-lg ">
										<p class="text-zinc-500 text-lg">
											Por enquanto não foi publicado
											nenhum post
										</p>
									</div>
								)}
							</div>
						)
					}
				</div>
			</main>
		</div>

		<Footer lastDate={lastDate} />
	</div>
</Layout>

<Script />
