---
import Layout from "../../layout/Layout.astro";
import DetailView from "../../components/ui/DetailCard";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Sidebar from "@/components/layout/Sidebar.astro";
import {
    getPostsTags,
    getLastPostDate,
    getAllPostNotes,
} from "@/database/post/queries";
import { ChevronLeft } from "lucide-react";

export async function getStaticPaths() {
    const [posts, tags, lastDate] = await Promise.all([
        getAllPostNotes(), // Somente posts tipo notas tem essa pagina
        getPostsTags(),
        getLastPostDate(),
    ]);
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post, tags, lastDate },
    }));
}

const { post, tags, lastDate } = Astro.props;
---

<Layout title={post.title + " | andre_OS"}>
    <div class="min-h-screen relative">
        <Header searchParam={""} filterParam={""} />

        <div
            class="pt-20 pb-12 px-4 md:px-6 max-w-[1600px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-8 transition-all"
        >
            <Sidebar tagCounts={tags} currentFilter={""} currentSearch={""} />

            <main class={`flex lg:col-span-10`}>
                <div class="flex flex-col w-full">
                    <div class="mb-6 flex items-center gap-4 flex-shrink-0">
                        <a
                            href="/"
                            class="flex items-center gap-2 px-3 py-1.5 rounded-md bg-zinc-900 border border-zinc-800 hover:border-zinc-600 hover:bg-zinc-800 text-sm transition-colors text-zinc-400 hover:text-white group"
                        >
                            <ChevronLeft
                                size={16}
                                className="group-hover:-translate-x-0.5 transition-transform"
                            />
                            Home
                        </a>
                        <div class="h-4 w-px bg-zinc-800"></div>
                        <div
                            class="flex items-center gap-2 text-xs font-mono text-zinc-500"
                        >
                            <span>
                                ~/{post.type}s/{post.slug}
                            </span>
                        </div>
                    </div>
                    <DetailView post={post} />
                </div>
            </main>
        </div>

        <Footer lastDate={lastDate} />
    </div>
</Layout>
